<div class="action-header clearfix">
  <div class="action-header__item action-header__search">
    <input type="text" placeholder="Search users...">
  </div>

  <div class="action-header__item action-header__right action-header__add">
    <%= link_to 'New User', new_user_path, :class => 'button button--red' %>
  </div>
</div>

<div class="container">
  <div class="list-group-summary">Total 5 Users</div> <!-- need real data -->

  <div class="list-group list-group--action">
    <% @users.each do |user| %>
        <div class="list-group__wrap">
          <a class="list-group__item" href="<%= edit_user_path(user) %>">
            <div class="list-group__title"><%= user.email %></div>
          </a>

          <div class="list-group__actions dropdown">
            <i class="icon icon--more dropdown__toggle"></i>
            <ul class="dropdown__menu dropdown__menu--right">
              <li><%= link_to 'Edit', edit_user_path(user) %></li>
              <li><%= link_to 'Delete', user, method: :delete, data: { confirm: 'Are you sure?' } %></li>
            </ul>
          </div>
        </div>
    <% end %>
  </div>
</div>
