<div class="form-wrapper">
  <%= form_for(@document) do |f| %>
      <% if @document.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@document.errors.count, "error") %> prohibited this document from being saved:</h2>

            <ul>
              <% @document.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
              <% end %>
            </ul>
          </div>
      <% end %>

      <div class="form-group">
        <%= f.label :name %>
        <%= f.text_field :name, :class => 'form-group__field' %>
      </div>

      <div class="form-group">
        <%= f.label :description %>
        <%= f.text_area :description, :class => 'form-group__field' %>
      </div>

      <div class="form-group">
        <%= f.label :link %>
        <%= f.text_field :link, :class => 'form-group__field' %>
      </div>

      <div class="form-group">
        <%= f.label :category_id %>
        <%= f.text_field :category_id, :class => 'form-group__field' %>
      </div>

      <div class="form-wrapper__footer">
        <%= f.submit 'Save', :class => 'button button--blue' %>
        <%= link_to 'Cancel', documents_path, :class => 'button' %>
      </div>
  <% end %>

</div>