<div class="action-header clearfix">
    <div class="action-header__item action-header__search">
        <input type="text" placeholder="Search documents...">
    </div>

    <div class="action-header__item action-header__right action-header__add">
        <%= link_to 'New Document', new_document_path, :class => 'button button--red' %>
    </div>
</div>


<div class="container">
    <div class="misc-title">Total <%= @documents.count %> Documents</div>
    <div class="list-group list-group--action">
        <% @documents.each do |document| %>
        <div class="list-group__wrap">
            <a class="list-group__item" href="<%= edit_document_path(document) %>">
                <div class="list-group__title"><%= document.name %></div>
                <div class="list-group__text"><%= document.description %></div>
            </a>

            <div class="list-group__actions dropdown">
            <%= link_to icon('ellipsis-h'), "", :class => 'dropdown__toggle' %>
                <ul class="dropdown__menu dropdown__menu--right">
                    <li><%= link_to 'Edit', edit_document_path(document) %></li>
                    <li><%= link_to 'View Page', '/docs/'+document.slug, :target=> '_blank' %></li>
                    <li><%= link_to 'Github Link', document.link, :target => '_blank' %></li>
                    <% if document.state == "hidden" %>
                        <li><%= link_to 'Unhide', unhide_path(document) %></li>
                    <% else %>
                        <li><%= link_to 'Hide', hide_path(document) %></li>
                    <% end %>
                    <li><%= link_to 'Delete', document, method: :delete, data: { confirm: 'Are you sure?' } %></li>
                </ul>
            </div>
        </div>
        <% end %>
    </div>
</div>
