<!--
  Doctor, (C) 2016 Minio, Inc.
 
  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at
 
      http://www.apache.org/licenses/LICENSE-2.0
 
  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
 -->

<div id="notice"><%= notice %></div>

<div class="row dashboard-stats">
	<div class="col-sm-4 col-lg-3">
		<div class="dashboard-stats__item dashboard-stats__item--deep-orange">
			<h2><%= @doc_count %></h2>
			<small>Total Documents</small>
		</div>
	</div>

	<div class="col-sm-4 col-lg-3">
		<div class="dashboard-stats__item dashboard-stats__item--orange">
			<h2><%= @cat_count %></h2>
			<small>Total Categories</small>
		</div>
	</div>


	<div class="col-sm-4 col-lg-3">
		<div class="dashboard-stats__item dashboard-stats__item--amber">
			<h2><%= @user_count %></h2>
			<small>Total Users</small>
		</div>
	</div>
</div>


<div class="row dashboard-recent">
	<div class="col-lg-6">
		<header class="content-title content-title--box">
			<h3>Recent Categories</h3>

			<%= link_to 'View all', '/categories', :class => 'content-title__action' %>
		</header>

		<div class="list-group list-group--action">
			<% @categories.limit(5).each do |category| %>
					<div class="list-group__wrap">
						<a class="list-group__item" href="<%= edit_category_path(category) %>">
							<div class="list-group__title"><%= category.title %></div>
							<div class="list-group__text"><%= category.desc %></div>
						</a>

						<div class="list-group__actions dropdown">
							<%= link_to icon('ellipsis-h'), "", :class => 'dropdown__toggle' %>
							<ul class="dropdown__menu dropdown__menu--right">
								<li><%= link_to 'Edit', edit_category_path(category) %></li>
								<li><%= link_to 'Delete', category, method: :delete, data: { confirm: 'Are you sure?' } %></li>
							</ul>
						</div>
					</div>
			<% end %>
		</div>
	</div>

	<div class="col-lg-6">
		<header class="content-title content-title--box">
			<h3>Recent Documents</h3>

			<%= link_to 'View all', '/docs', :class => 'content-title__action' %>

		</header>

		<div class="list-group list-group--action">
			<% @documents.limit(5).each do |document| %>
				<div class="list-group__wrap">
					<a class="list-group__item" href="<%= edit_document_path(document) %>">
						<div class="list-group__title"><%= document.name %></div>
						<div class="list-group__text"><%= document.description %></div>
					</a>

					<div class="list-group__actions dropdown">
						<%= link_to icon('ellipsis-h'), "", :class => 'dropdown__toggle' %>

						<ul class="dropdown__menu dropdown__menu--right">
							<li><%= link_to 'Edit', edit_document_path(document) %></li>
							<li><%= link_to 'Delete', document, method: :delete, data: { confirm: 'Are you sure?' } %></li>
						</ul>
					</div>
				</div>
			<% end %>
		</div>
	</div>
</div>

<!-- Need a separate page for branding

<div class="form-wrapper form-wrapper--centered">
	<div class="form-group">
		<label>Title</label>
		<input type="text" class="form-group__field">
	</div>

	<div class="form-group">
		<label>Logo URL</label>
		<input type="text" class="form-group__field">
	</div>

	<div class="form-group">
		<label>Tagline</label>
		<input type="text" class="form-group__field">
	</div>

	<div class="form-group">
		<label>Github Link</label>
		<input type="text" class="form-group__field">
	</div>

	<div class="form-group">
		<label>Gitter Link</label>
		<input type="text" class="form-group__field">
	</div>

	<div class="form-group">
		<label>Footer Text</label>
		<input type="text" class="form-group__field">
	</div>
</div>


<table>

  <tbody>
    <% @brands.each do |brand| %>
      <tr>
        <td><%= brand.title %></td>
        <td><%= brand.logo_url %></td>
        <td><%= brand.tagline %></td>
        <td><%= brand.home_link %></td>
        <td><%= brand.github_link %></td>
        <td><%= brand.gitter_link %></td>
        <td><%= brand.footer_text %></td>
        <td><%= brand.footer_img %></td>
        <td><%= brand.footer_chatlink %></td>
        <td><%= link_to 'Show', brand %></td>
        <td><%= link_to 'Edit', edit_brand_path(brand) %></td>
        <td><%= link_to 'Destroy', brand, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

-->



