<%= form_for(@brand) do |f| %>
    <% if @brand.errors.any? %>
        <div id="error_explanation">
            <h2><%= pluralize(@brand.errors.count, "error") %> prohibited this brand from being saved:</h2>
            <ul>
                <% @brand.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                <% end %>
            </ul>
        </div>
    <% end %>

    <div class="container">
        <div class="tab-content">

            <!-- Project Settings-->
            <div class="form-wrapper tab-content__pane active" id="project-settings">
                <div class="form-group">
                    <%= f.label :title %>
                    <%= f.text_field :title, :class => 'form-group__field' %>
                </div>

                <div class="form-group">
                    <%= f.label :logo_url , 'Logo URL' %>
                    <%= f.text_field :logo_url, :class => 'form-group__field' %>

                    <%= icon('question-circle-o form-group__help', :data => {toggle: 'tooltip'}, :title => 'Logo base area is 150x45(px). Consider using 2x image size for mobile displays') %>
                </div>

                <div class="form-group">
                    <%= f.label :home_link, 'Home URL' %>
                    <%= f.text_field :home_link, :class => 'form-group__field' %>
                </div>

                <div class="form-group">
                    <%= f.label 'Description' %>
                    <%= f.text_area :description, :class => 'form-group__field' %>
                </div>

                <div class="form-group">
                    <%= f.label :footer_text, 'Footer Text' %>
                    <%= f.text_area :footer_text, :class => 'form-group__field' %>
                </div>

                <div class="form-group">
                    <%= f.label :footer_img, 'Footer Image URL' %>
                    <%= f.text_field :footer_img, :class => 'form-group__field' %>
                </div>
            </div>


            <!-- Social Links -->
            <div class="form-wrapper tab-content__pane" id="social-links">
                <div class="form-group">
                    <%= f.label :github_link, 'Github' %>
                    <%= f.text_field :github_link, :class => 'form-group__field' %>
                </div>

                <div class="form-group">
                    <%= f.label :bitbucket_link, 'Bitbucket' %>
                    <%= f.text_field :bitbucket_link, :class => 'form-group__field' %>
                </div>

                <div class="form-group">
                    <%= f.label :gitter_link, 'Gitter' %>
                    <%= f.text_field :gitter_link, :class => 'form-group__field' %>
                </div>

                <div class="form-group">
                    <%= f.label :slack_link, 'Slack' %>
                    <%= f.text_field :slack_link, :class => 'form-group__field' %>
                </div>

                <div class="form-group">
                    <%= f.label :twitter_link, 'Twitter' %>
                    <%= f.text_field :twitter_link, :class => 'form-group__field' %>
                </div>

                <div class="form-group">
                    <%= f.label :footer_chatlink, 'Footer Chat Widget URL' %>
                    <%= f.text_field :footer_chatlink, :class => 'form-group__field' %>
                </div>
            </div>


            <!-- Appearance -->
            <div class="tab-content__pane" id="appearance">
                 

                <div class="misc-title">Header</div>
                <div class="form-wrapper form-wrapper--stack">
                    <div class="form-group">
                        <%= f.label :header_text_color, 'Text Color' %>
                        <%= f.text_field :header_text_color, :class => 'form-group__field form-group__field--color' %>
                        <%= icon('question-circle-o form-group__help', :data => {toggle: 'tooltip'}, :title => 'Sets a background color for site header which will match your brand') %>
                    </div>

                    <div class="form-group">
                        <%= f.label :header_background_color, 'Background color' %>
                        <%= f.text_field :header_background_color, :class => 'form-group__field form-group__field--color' %>
                        <%= icon('question-circle-o form-group__help', :data => {toggle: 'tooltip'}, :title => 'Sets a background color for site header which will match your brand. Make sure to set a darker background as text and icon will remain white. ') %>
                    </div>
                </div>
                
                <div class="misc-title">Tokens</div>
                <div class="form-wrapper form-wrapper--stack">
                    <div class="form-group">
                        <%= f.label :searchtoken, 'Algolia Document Search Token' %>
                        <%= f.text_field :searchtoken, :class => 'form-group__field  ' %>
                        <%= icon('question-circle-o form-group__help', :data => {toggle: 'tooltip'}, :title => 'Sets algolia search token that is used for document search.') %>
                    </div>
                </div>
 
            </div>

            <div class="form-footer">
                <%= f.submit 'Save', :class => 'button button--blue' %>
            </div>
        </div>
    </div>
<% end %>
