<%= form_for(@brand) do |f| %>
    <% if @brand.errors.any? %>
        <div id="error_explanation">
            <h2><%= pluralize(@brand.errors.count, "error") %> prohibited this brand from being saved:</h2>
            <ul>
                <% @brand.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                <% end %>
            </ul>
        </div>
    <% end %>

    <div class="container">
        <div class="tab-content">

            <!-- Project Settings-->
            <div class="form-wrapper tab-content__pane active" id="project-settings">
                <div class="form-group">
                    <%= f.label :title %>
                    <%= f.text_field :title, :class => 'form-group__field' %>
                </div>

                <div class="form-group">
                    <%= f.label :logo_url , 'Logo URL' %>
                    <%= f.text_field :logo_url, :class => 'form-group__field' %>
                </div>

                <div class="form-group">
                    <%= f.label :home_link, 'Home URL' %>
                    <%= f.text_field :home_link, :class => 'form-group__field' %>
                </div>

                <div class="form-group"> <!-- need fix -->
                    <%= f.label 'Description' %>
                    <%= f.text_area :description, :class => 'form-group__field' %>
                </div>

                <div class="form-group">
                    <%= f.label :footer_text, 'Footer Text' %>
                    <%= f.text_area :footer_text, :class => 'form-group__field' %>
                </div>

                <div class="form-group">
                    <%= f.label :footer_img, 'Footer Image URL' %>
                    <%= f.text_field :footer_img, :class => 'form-group__field' %>
                </div>
            </div>


            <!-- Social Links -->
            <div class="form-wrapper tab-content__pane" id="social-links">
                <div class="form-group">
                    <%= f.label :github_link, 'Github' %>
                    <%= f.text_field :github_link, :class => 'form-group__field' %>
                </div>

                <div class="form-group"> <!-- need fix -->
                    <%= f.label :bitbucket_link, 'Bitbucket' %>
                    <%= f.text_field :bitbucket_link, :class => 'form-group__field' %>
                </div>

                <div class="form-group">
                    <%= f.label :gitter_link, 'Gitter' %>
                    <%= f.text_field :gitter_link, :class => 'form-group__field' %>
                </div>

                <div class="form-group">
                    <%= f.label :footer_chatlink, 'Gitter Sidecar' %>
                    <%= f.text_field :footer_chatlink, :class => 'form-group__field', :placeholder => 'e.g minio/minio' %>
                </div>

                <div class="form-group"> <!-- need fix -->
                    <%= f.label :slack_link, 'Slack' %>
                    <%= f.text_field :slack_link, :class => 'form-group__field' %>
                </div>

                <div class="form-group">
                    <%= f.label :twitter_link, 'Twitter' %>
                    <%= f.text_field :twitter_link, :class => 'form-group__field' %>
                </div>
            </div>


            <!-- Appearance -->
            <div class="tab-content__pane" id="appearance">
                <div class="misc-title">Scaffolding</div>
                <div class="form-wrapper form-wrapper--stack">
                    <div class="form-group">
                        <%= f.label :font_family, 'Font family' %>
                        <%= f.text_field :font_family, :class => 'form-group__field' %>
                    </div>

                    <div class="form-group">
                        <%= f.label :font_size, 'Font size' %>
						<%= f.select :font_size, [ '11px', '12px', '13px', '14px', '15px', '16px', '17px' ],  :class=>"form-group__field" %>
                    </div>

                    <div class="form-group">
                        <%= f.label :text_color, 'Text color' %>

                        <div class="color-pick dropdown">
                            <%= f.text_field :text_color, :class => 'form-group__field dropdown__toggle color-pick__value' %>

                            <i class="color-pick__preview color-pick__value"></i>

                            <div class="dropdown__menu">
                                <div class="color-pick__target"></div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <%= f.label :link_color, 'Link color' %>

                        <div class="color-pick dropdown">
                            <%= f.text_field :link_color, :class => 'form-group__field dropdown__toggle color-pick__value' %>

                            <i class="color-pick__preview color-pick__value"></i>

                            <div class="dropdown__menu">
                                <div class="color-pick__target"></div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <%= f.label :heading_color, 'Heading color' %>

                        <div class="color-pick dropdown">
                            <%= f.text_field :heading_color, :class => 'form-group__field dropdown__toggle color-pick__value' %>

                            <i class="color-pick__preview color-pick__value"></i>

                            <div class="dropdown__menu">
                                <div class="color-pick__target"></div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="misc-title">Header</div>
                <div class="form-wrapper form-wrapper--stack">
                    <div class="form-group">
                        <%= f.label :header_background_color, 'Background color' %>

                        <div class="form-group">
                            <div class="color-pick dropdown">
                                <%= f.text_field :header_background_color, :class => 'form-group__field dropdown__toggle color-pick__value' %>

                                <i class="color-pick__preview color-pick__value"></i>

                                <div class="dropdown__menu">
                                    <div class="color-pick__target"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="misc-title">Sidebar</div>
                <div class="form-wrapper">
                    <div class="form-group">
                        <%= f.label :sidebar_background_color, 'Background color' %>

                        <div class="color-pick dropdown">
                            <%= f.text_field :sidebar_background_color, :class => 'form-group__field dropdown__toggle color-pick__value' %>

                            <i class="color-pick__preview color-pick__value"></i>

                            <div class="dropdown__menu">
                                <div class="color-pick__target"></div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <%= f.label :sidebar_link_color, 'Link color' %>

                        <div class="color-pick dropdown">
                            <%= f.text_field :sidebar_link_color, :class => 'form-group__field dropdown__toggle color-pick__value' %>

                            <i class="color-pick__preview color-pick__value"></i>

                            <div class="dropdown__menu">
                                <div class="color-pick__target"></div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <%= f.label :menu_hover_background_color, 'Menu link hover background color' %>

                        <div class="color-pick dropdown">
                            <%= f.text_field :menu_hover_background_color, :class => 'form-group__field dropdown__toggle color-pick__value' %>

                            <i class="color-pick__preview color-pick__value"></i>

                            <div class="dropdown__menu">
                                <div class="color-pick__target"></div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <%= f.label :menu_title_color, 'Menu title color' %>

                        <div class="color-pick dropdown">
                            <%= f.text_field :menu_title_color, :class => 'form-group__field dropdown__toggle color-pick__value' %>

                            <i class="color-pick__preview color-pick__value"></i>

                            <div class="dropdown__menu">
                                <div class="color-pick__target"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-footer">
                <%= f.submit 'Save', :class => 'button button--blue' %>
            </div>
        </div>
    </div>
<% end %>
