<p id="notice"><%= notice %></p>

<h1>Listing Brands</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Logo url</th>
      <th>Tagline</th>
      <th>Home link</th>
      <th>Github link</th>
      <th>Gitter link</th>
      <th>Twitter link</th>
      <th>Footer text</th>
      <th>Footer img</th>
      <th>Footer chatlink</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @brands.each do |brand| %>
      <tr>
        <td><%= brand.title %></td>
        <td><%= brand.logo_url %></td>
        <td><%= brand.tagline %></td>
        <td><%= brand.home_link %></td>
        <td><%= brand.github_link %></td>
        <td><%= brand.gitter_link %></td>
        <td><%= brand.twitter_link %></td>
        <td><%= brand.footer_text %></td>
        <td><%= brand.footer_img %></td>
        <td><%= brand.footer_chatlink %></td>
        <td><%= link_to 'Show', brand %></td>
        <td><%= link_to 'Edit', edit_brand_path(brand) %></td>
        <td><%= link_to 'Destroy', brand, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

