<!--/*
 * Doctor, (C) 2016 Minio, Inc.
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */-->

<div class="action-header clearfix">
  <div class="action-header__item action-header__search">
    <input type="text" placeholder="Search categories...">
  </div>

  <div class="action-header__item action-header__right action-header__add">
    <%= link_to 'New Category', new_category_path, :class => 'button button--red' %>
  </div>
</div>

<div class="container">
  <div class="list-group-summary">Total <%= @categories.count %> Categories</div>

  <div class="list-group list-group--action">
    <% @categories.each do |category| %>
        <div class="list-group__wrap">
          <a class="list-group__item" href="<%= edit_category_path(category) %>">
            <div class="list-group__title"><%= category.title %></div>
            <div class="list-group__text"><%= category.desc %></div>
          </a>

          <div class="list-group__actions dropdown">
            <i class="icon icon--more dropdown__toggle"></i>
            <ul class="dropdown__menu dropdown__menu--right">
              <li><%= link_to 'Edit', edit_category_path(category) %></li>
              <li><%= link_to 'Delete', category, method: :delete, data: { confirm: 'Are you sure?' } %></li>
            </ul>
          </div>
        </div>
    <% end %>
  </div>
</div>


