<header id="header" class="clearfix">
    <div class="header__trigger">
        <%= icon('bars') %>
    </div>

    <a class="header__brand" href="<%= hub_path %>">
        <% if @mybrand %>
        <% if @mybrand.logo_url %>
        <img class="header__logo" src="<%= @mybrand.logo_url %>" alt="">
        <% end %>

        <span class="header__title"><%= @mybrand.title %></span>
        <% else %>
        Your Project
        <% end %>
    </a>

    <nav class="header__menu">
        <ul>
            <li class="header__menu__search"><%= link_to icon('search'), '' %></li>

            <% if @mybrand %>
                <% if !@mybrand.home_link.blank?%><li><%= link_to icon('home'), @mybrand.home_link, :target => '_blank' %></li><% end %>
                <% if !@mybrand.github_link.blank?%><li><%= link_to icon('github'), @mybrand.github_link, :target => '_blank' %></li><% end %>
                <% if !@mybrand.bitbucket_link.blank?%><li><%= link_to icon('bitbucket'), @mybrand.bitbucket_link, :target => '_blank' %></li><% end %>
                <% if !@mybrand.slack_link.blank?%><li><%= link_to icon('slack'), @mybrand.slack_link, :target => '_blank' %></li><% end %>
                <% if !@mybrand.gitter_link.blank?%>
                    <li>
                        <%= link_to @mybrand.gitter_link, :target => '_blank', :title => '' do %>
                            <i class="icon icon--gitter"></i>
                        <% end %>
                    </li>
                <% end %>
                <% if !@mybrand.twitter_link.blank?%><li><%= link_to icon('twitter'), @mybrand.twitter_link, :target => '_blank' %></li><% end %>
            <% end %>

        </ul>
    </nav>

    <div class="header__search">
        <div class="header__search__inner">
            <input type="text" placeholder="Search...">

            <%= icon('search', :class => 'header__search__icon') %>
            <%= icon('arrow-left', :class => 'header__search__close') %>
        </div>
    </div>
</header>
