<aside class="sidebar sidebar--scroll">
    <div class="sidebar__close">
        <%= icon('arrow-circle-o-left ') %>
    </div>

    <%= render 'layouts/brand' %>

    <ul class="main-menu">
        <% @categories.each do |category| %>
            <li>
                <a href="<%=category_path(category.id) %>"><%= category.title %></a>
                <% if category.documents.any? %>
                    <ul>
                        <% category.documents.each do |doc| %>
                            <% if doc.state != "hidden" %>
                                <li><%= link_to doc.name, document_path(doc.slug), :class => is_active_path(document_path(doc.slug)) %></li>
                            <% end %>
                        <% end %>
                    </ul>
                <% end %>
            </li>
        <% end %>
    </ul>

    <div class="admin-login">
        <% if current_user %>
        <div class="dropdown dropdown--up">
            <%= link_to "Dashboard", "", :class => "dropdown__toggle button button--blue" %>

            <ul class="dropdown__menu">
                <% if current_user.admin? %>
                <li><%= link_to "Dashboard", dashboard_path %></li>
                <% else %>

                <% end %>
                <li><%= link_to "Logout", logout_path %></li>
            </ul>
        </div>

        <% else %>
            <% unless current_page?('/login') %>
                <%= link_to "Admin Login", login_path, :class => "button button--blue" %>
            <% end %>
        <% end %>
    </div>
</aside>
<div class="sidebar-backdrop"></div>