<aside class="sidebar sidebar--admin">
    <div class="sidebar__close">
        <%= icon('arrow-circle-o-left ') %>
    </div>

    <%= render 'layouts/brand' %>

    <ul class="navigation">
        <li><%= link_to (icon("pie-chart ")+ "Dashboard"), dashboard_path, :class => is_active(dashboard_path) %></li>
        <li><%= link_to (icon("th-large")+ "Categories"), categories_path, :class => is_active_controller('categories') %></li>
        <li><%= link_to (icon("book")+ "Documents"), documents_path, :class => is_active_controller('documents') %></li>
        <li><%= link_to (icon("gears")+ "Settings"), edit_brand_path(@mybrand.id), :class => is_active_controller('brands') %></li>
        <li><%= link_to (icon("users")+ "Users"), users_path, :class => is_active_controller('users') %></li>
        <li><%= link_to (icon("sign-out")+ "Logout"), logout_path %></li>
    </ul>
</aside>