<!--
  Doctor, (C) 2016 Minio, Inc.
 
  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at
 
      http://www.apache.org/licenses/LICENSE-2.0
 
  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
  -->

<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= @mybrand.title %></title>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>

    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">

    <%= render 'layouts/style' %>
  </head>

  <body <%= 'data-sidecar='+@mybrand.footer_chatlink  if !@mybrand.footer_chatlink.blank? %>>
    
    <%= render 'layouts/header' %>
    <div id="main">
      <div class="main__sidebar">
        <ul class="main__menu">
          <li>
            <a href="">Welcome Admin!</a>

            <ul class="main__menu__icons">
              <li><%= link_to (icon("line-chart")+ "Dashboard"), dashboard_path, :class => current_class?(dashboard_path) %></li>
              <li><%= link_to (icon("th-large")+ "Categories"), categories_path, :class => current_class?(categories_path) %></li>
              <li><%= link_to (icon("file-text")+ "Documents"), documents_path, :class => current_class?(documents_path) %></li>
              <li><%= link_to (icon("gear")+ "Settings"), edit_brand_path(@mybrand.id), :class => current_class?(edit_brand_path(@mybrand.id)) %></li>
              <li><%= link_to (icon("user")+ "Users"), users_path, :class => current_class?(users_path) %></li>
              <li><%= link_to (icon("sign-out")+ "Logout"), logout_path %></li>
            </ul>
          </li>
         </ul>
      </div>

      <section class="main__page">
        <%= yield %>
      </section>

      <%= render 'layouts/footer' %>
    </div>

  </body>
</html>
