<!--
  Doctor, (C) 2016 Minio, Inc.
 
  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at
 
      http://www.apache.org/licenses/LICENSE-2.0
 
  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
  -->

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="<%= @mybrand.description %>">

    <title><%= @mybrand.title %></title>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>

    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">

    <%= render 'layouts/style' %>
  </head>


  <body>

	<%= render 'layouts/header' %>
	  
    <div id="main">
      <div class="main__sidebar main__sidebar--scroll">
        <ul class="main__menu">
          <% @categories.each do |category| %>
              <li>
                <a href="<%=category_path(category.id) %>"><%= category.title %></a>
                <% if category.documents.any? %>
                    <ul>
                      <% category.documents.each do |doc| %>
                          <% if doc.state != "hidden" %>
                              <li><%= link_to doc.name, document_path(doc.slug), :class => is_active_path(document_path(doc.slug)) %></li>
                          <% end %>
                      <% end %>
                    </ul>
                <% end %>
              </li>
          <% end %>
        </ul>

        <div class="admin-login">
          <% if current_user %>
            <div class="dropdown dropdown--up">
              <%= link_to "Dashboard", "", :class => "dropdown__toggle button button--blue" %>

              <ul class="dropdown__menu">
                <% if current_user.admin? %>
                    <li><%= link_to "Dashboard", dashboard_path %></li>
                <% else %>

                <% end %>
                <li><%= link_to "Logout", logout_path %></li>
              </ul>
            </div>

          <% else %>
              <% unless current_page?('/login') %>
                  <%= link_to "Admin Login", login_path, :class => "button button--blue" %>
              <% end %>
          <% end %>
        </div>
      </div>

      <section class="main__page">
        <%= yield %>
      </section>

      <%= render 'layouts/footer' %>
    </div>

  </body>
</html>
