<!--
  Doctor, (C) 2016 Minio, Inc.
 
  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at
 
      http://www.apache.org/licenses/LICENSE-2.0
 
  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
  -->

<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Doctor</title>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>

    <link href="https://fonts.googleapis.com/css?family=Roboto|Roboto+Slab|Roboto+Mono" rel="stylesheet">
  </head>


  <body>
    <header id="header" class="clearfix">
      <div class="header__logo">
        <% if @mybrand %>
            <%= link_to @mybrand.title, hub_path %>
        <% else %>
            Your Project
        <% end %>
      </div>

      <nav class="header__menu">
        <ul>
 
          <% if @mybrand %>
              <li><%= link_to "Home", @mybrand.home_link %></li>
              <li><%= link_to "Github", @mybrand.github_link %></li>
              <li><%= link_to "Gitter", @mybrand.gitter_link %></li>
 
          <% else %>
              <li><a href="#">Home </a></li>
              <li><a href="#">Github </a></li>
              <li><a href="#">Gitter </a></li>
          <% end %>

        </ul>
      </nav>
    </header>

    <div id="main">
      <div class="main__sidebar">
        <ul class="main__menu">
          <% @categories.each do |category| %>
              <li>
                <a href=""><%= category.title %></a>
                <% if category.documents.any? %>
                    <ul>
                      <% category.documents.each do |doc| %>
                          <li><%= link_to doc.name, document_path(doc.slug) %></li>
                      <% end %>
                    </ul>
                <% end %>
          <% end %>
        </ul>
      </div>

      <section class="main__page">
        <%= yield %>
      </section>

      <%= render 'layouts/footer' %>
    </div>

    <script src="https://cdn.jsdelivr.net/prism/1.2.0/prism.js"></script>
  </body>
</html>
