<!--
  Doctor, (C) 2016 Minio, Inc.
 
  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at
 
      http://www.apache.org/licenses/LICENSE-2.0
 
  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
  -->
 
<!DOCTYPE html>
<html>
<head>
  <title>Doctor</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/prism/1.2.0/themes/prism.css">
  <link href="https://cdn.jsdelivr.net/prism/1.2.0/themes/prism-coy.css" rel="stylesheet" />ß
  <script src="https://cdn.jsdelivr.net/prism/1.2.0/prism.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Doctor</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav pull-right">
                    <li>
                        <a href="#">Home</a>
                    </li>
                    <li>
                        <a href="#">GitHub</a>
                    </li>
                    <li>
                        <a href="#">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
	<div id="wrapper">

	         
	       <!--
	        <div id="sidebar-wrapper">
	       	            <ul class="sidebar-nav">
	       					  
	         	                <li class="sidebar-brand">
	         	                    <a href="#">
	         	                       Minio Docs
	         	                    </a>
	         	                </li>
	       					  <% @categories.each do |category| %>
	       					  
	       					  	 
	       					  		<li><a href="#"><%= category.title %></a><li>
	       							
	       								<% if category.documents.any? %>
	       									<% category.documents.each do |doc| %>
	       									 <ul>
	       									 	<li><%= link_to doc.name, document_path(doc.id) %><li>
	       									 </ul>
	       									<% end %>
	        								<% end %> 
	       			 		  	 
	       					<% end %>
	       				</ul>
	       			</div>	
	       						-->
	       
						
		   		
		    <!-- Page Content -->
		           <div id="page-content-wrapper">
		               <div class="container-fluid">
		                   <div class="row" style="margin-top:10px;">
		                       <div class="col-lg-12">
		                            
		                             <%= yield %>
		                       </div>
		                   </div>
		               </div>
		           </div>
		           <!-- /#page-content-wrapper -->

	</div>
			
  		<%= render 'layouts/footer' %>
     

</body>
</html>
